<%- include ("../partials/header") %>

    <style>
     
    </style>
<% if(currentUser && currentUser.isAdmin) { %>
	<h1>
		You're Admin!
</h1>
<% } %>

<header class="jumbotron">

	<h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
	<p>View our hand-picked campgrounds camps from all over the world</p>
	
	<p>
	<a class="btn btn-primary btn-lg"  href="/campgrounds/new">Add new Campground</a>	
	</p>
	<!-- Fuzzy Search -->
	<p>
    	<form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
        	<div class="form-group">
            	<input type="text" name="search" placeholder="Campground search..." 
					  class="form-control">
                <input type="submit" value="Search" class="btn btn-secondary">
            </div>
        </form>
    </p>

</header>


	<div class="row text-center">
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card">
		 		<img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
		  		<div class="card-body">
				<h5 class="card-title"><%= campground.name %></h5>
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
		  		</div>
			</div>
		</div>
	<% }) %>

	</div>



<%- include ("../partials/footer") %>
	

